.hien_thi {
    border: 2px solid red;
    width: 40%;
    height: 50px;
    margin: 30px 95px;
}
.container {
    border: 3px solid black;
    box-shadow: 20px 20px 20px 20px  rgba(222, 184, 135, 0.479);
    padding: 50px;
    margin: 50px auto;
}
input { width: 50%;}
.usd {
    display: flex;
    align-items: center;
}
.tien {
    height: 38px;
    width: 40px;
    border-radius: 0 10px 10px 0;
    text-align: center;
}
.chia_hang {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.Rin_Rin {
    display: flex;
    justify-content: space-between;
}
.items_Cap {
    display: flex;
    width: 100%;
}
#soKetNoi {
    width: 50%;
}